/* sets font */
.wrapper {
    font-family: 'Montserrat';
}

/* logo */
header img {
    padding-left: 5px;
    padding-top: 5px;
}

/* positions hamburger icon */
span {
    position: absolute;
    width: 40px;
    height: 32px;
    top: 23px;
    right: 5px;
}

/* displays content in column */
.foodapptext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* sets font color */
p, h5 {
    color: #737373;
}

/* sets font properties */
.foodapptext h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.foodapptext h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 10px;
    text-align: center;
}

p {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding-bottom: 10px;
}

/* sets button properties */
button {
    border-radius: 30px;
    width: 236px;
    height: 68px;
    padding: 16px 0px 16px 0px;
    margin-bottom: 15px;
    background-color: #FA4A0C;
    font-weight: 700;
    font-size: 24px;
    color: white ;
    border: none;
}

.foodappimg {
    display: flex;
}

article h3 {
   text-align: center;
   font-weight: 600;
   font-size: 24px; 
   padding-top: 40px;
}

/* displays content in column */
.features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* sets font properties */
.features h2 {
    font-weight: 700;
    font-size: 24px;
    color: #FA4A0C;
    padding-top: 40px;
}

.features h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    padding-top: 40px;
}

.features p {
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
}

/* sets download style */
.download {
    background-color: #252B42;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* sets font property */
.download h1 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: white;
    padding-bottom: 20px;
}

.download p {
    color: #BDBDBD;
    padding-bottom: 20px;
}